.header {
    height: 4rem;

}

.Todo{
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    cursor: default;
    color: #292d34;
}

.todo-button {
    width: 35rem !important;
}


.todo-innerbody{
    display: flex;
    justify-content:space-between;
}


